
.container{
    background-image: url(../assets/images/bg.png);
    background-size: 100% 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    color: white;
    // height: 100%;
    // position: relative;
    .header{
        line-height: 60px;
        text-align: center;        
        // background-color: lightblue;
    }
    .left{
        position: absolute;
        top: 70px;
        left: 10px;
        bottom: 100px;
        width: 190px;
        // background-color: lightcoral;
        border: 1px solid green;
    }
    .right{
        position: absolute;
        top: 70px;
        right: 10px;
        bottom: 100px;
        width: 240px;
        // background-color: lightcoral;
        border: 1px solid green;
    }
    .wrapper{
        position: absolute;
        top: 70px;
        left: 210px;
        right: 260px;
        bottom: 100px;
        // background-color: lightskyblue;
        border: 1px solid green;
        display: flex;
        flex-direction: column;        
        div{
           flex: 1;
        }
    }
    .footer{        
        position: absolute;
        left: 10px;
        right: 10px;
        bottom: 10px;
        line-height: 80px;
        text-align: center;
        // background-color: lightgray;
    }
}